.root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.chart {
  margin: var(--space-4) 0;
  align-self: center;
}

.decisionForm {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h2 {
    margin: 0 0 var(--space-1);
    font-size: 1rem;
    font-weight: 600;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    font-weight: var(--font-weight-medium);
  }
  button {
    align-self: stretch;
  }

  .submissionButtons {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--space-2);
    margin-top: var(--space-2);
    p {
      grid-column: 1 / -1;
      font-size: var(--font-size-1);
      font-weight: var(--font-weight-medium);
    }
  }
}

.resetForm {
  align-items: center;
}
