@use '../../constants' as *;
@use 'button.scss';
@use 'text-field.scss';
@use 'theme.scss';
@use 'sass:color';

.react-aria-ModalOverlay {
  overflow-y: auto;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--visual-viewport-height);
  background: rgba($black, 0.2);
  backdrop-filter: blur(1.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  &[data-entering] {
    animation: modal-fade 200ms;
  }

  &[data-exiting] {
    animation: modal-fade 150ms reverse ease-in;
  }
}

.react-aria-Modal {
  margin: auto;
  padding: 2rem;
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
  border-radius: 0.5rem;
  background: $white;
  color: var(--text-color);
  border: 1px solid var(--gray-400);
  outline: none;
  width: 96%;
  max-width: 60rem;

  &[data-entering] {
    animation: modal-zoom 300ms cubic-bezier(.34,1.29,.3,1);
  }

  .react-aria-TextField {
    margin-bottom: 8px;
  }
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

@keyframes mymodal-blur {
  from {
    background: rgba(45 0 0 / 0);
    backdrop-filter: blur(0);
  }

  to {
    background: rgba(45 0 0 / 0.3);
    backdrop-filter: blur(10px);
  }
}

@keyframes mymodal-slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
