.root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.selectEpisode {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  align-self: center;
  label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 0.85rem;
    font-weight: 600;
  }
}
