.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  backdrop-filter: blur(12px);
  &[data-state='open'] {
    animation: fadeIn 200ms both;
  }
  &[data-state='closed'] {
    animation: fadeOut 200ms both;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.content {
  --scale: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 50;
  display: grid;
  gap: var(--space-4);
  width: 100%;
  max-width: 32rem;
  max-height: 95vh;
  overflow: auto;
  transform: translate(-50%, -50%) scale(var(--scale));
  padding: var(--space-4);
  border: 1px solid var(--surface-4);
  background: var(--surface-1);
  box-shadow: var(--elevation-2);
  @media (min-width: 640px) {
    border-radius: var(--radius-large);
  }
  &[data-state='open'] {
    animation:
      scaleIn 200ms both,
      fadeIn 200ms both;
  }
  &[data-state='closed'] {
    animation:
      scaleOut 200ms both,
      fadeOut 200ms both;
  }
}

@keyframes scaleIn {
  from {
    --scale: 0.95;
  }
  to {
    --scale: 1;
  }
}
@keyframes scaleOut {
  from {
    --scale: 1;
  }
  to {
    --scale: 0.95;
  }
}

.close {
  position: absolute;
  top: var(--space-4);
  right: var(--space-4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: var(--space-1);
  transition: opacity 0.15s;
  border: none;
  background: transparent;
  &:hover,
  &:focus-visible {
    background: var(--surface-3);
  }
  &:disabled {
    pointer-events: none;
  }
  &:focus-visible {
    outline: 2px solid var(--accent-9);
    outline-offset: 2px;
  }
  &[data-state='open'] {
    background: var(--accent-9);
    color: var(--surface-1);
  }
}

.closeIcon {
  width: var(--space-4);
  height: var(--space-4);
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-2);
  text-align: center;
}
@media (min-width: 640px) {
  .header {
    text-align: left;
  }
}

.footer {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 640px) {
  .footer {
    flex-direction: row;
    justify-content: flex-end;
    column-gap: var(--space-2);
  }
}

.title {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.25;
  letter-spacing: -0.015em;
}

.description {
  font-size: 0.875rem;
  color: var(--surface-11);
}

.srOnly {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
