footer {
  padding: var(--space-1) var(--space-2);
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  border-top: 1px solid var(--accent-11);
  a {
    color: var(--color-text-primary);
    text-decoration: none;
    &.forio-link {
      text-decoration: underline;
    }
  }
}
