@use 'sass:color';

/* Color values */
$white: #FFFFFF;
$black: #000000;
$blue: #055b9d;
$red: #bb2246;
$silver: #F8F8F9;
$gray: #bcbcbc;
$dark-gray: #333333;
$accent: $blue;

$tab-shadow: 2px 2px 2px 0px rgba(161, 161, 161, 0.25);


/* Semantic values */
$background: $silver;
$text-primary: $black;
$text-accent: $blue;

$link-color: $text-primary;
$link-hover-color: $blue;

$button-text-primary: $white;
$button-text-primary-hover: $white;
$button-text-primary-disabled: color.scale($text-primary, $alpha: -50%);

$button-background-primary: $accent;
$button-background-primary-hover: $accent;
$button-background-primary-disabled: color.scale($gray, $alpha: -50%);

$button-border-primary: $accent;
$button-border-primary-disabled: color.scale($gray, $alpha: -50%);
$button-border-primary-hover: $accent;

$button-text-secondary: $text-primary;
$button-text-secondary-disabled: color.scale($text-primary, $alpha: -50%);
$button-text-secondary-hover: $text-primary;

$button-background-secondary: $white;
$button-background-secondary-hover: $white;
$button-background-secondary-disabled: color.scale($white, $alpha: -50%);

$button-border-secondary: $accent;
$button-border-secondary-disabled: color.scale($accent, $alpha: -50%);
$button-border-secondary-hover: $accent;

$border-radius-small: 5px;
$border-radius-large: 10px;

/* Typography values */
$standard-font-weight: 400;
$medium-font-weight: 600;
$bold-font-weight: 700;

$font-family: 'Poppins', Avenir, Helvetica, Arial, sans-serif;
